:root{   /* Usar variaveis no css*/
    --vermelho: #E50914;
    --preta: #141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Itens limitados por seu "container" sem que os elementos empurrem essa borda */
    text-decoration: none;
}

body{
    background-color: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    width: 100%;
    min-height: 100vh;
    font-size: 1.1vw;
}
h2{
    font-size: 3vw;
}
.container{
    display: flex;
}


/* FORMATANDO HEADER */
header{
    height: 4.5vw;
    background-color: gray;
}

.principal{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5vw;
}
.navMenu{
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--vermelho);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.principal nav a{
    color: white;
    margin: 0% 0.3rem;
}
.principal .navLogin a{
    color: white;
}
/* ESTRUTURA PRINCIPAL DO HEADER CONCLUÍDA */


main .fundoPrincipal{
    height: 40vw;
    background: url(/img/eONx2NqeLqexziFcZeyRXY0A3Is.jpg);
    background-size: cover;

}
main .fundoPrincipal{
    align-items: center;
}
main .informacaoPrincipal{
    height: 50%;
    flex-direction: column;
    width: 45vw;
    margin: 5vw;
    align-items: flex-start;
    justify-content: space-around;
}
main p{
    font-size: 1.5vw;
}
main .botoes button{
    height: 2rem;
}
/* BOTOES E VIDEO NA PARTE 4 13:43  */


