:root{   /* Usar variaveis no css*/
    --vermelho: #E50914;
    --preta: #141414;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Itens limitados por seu "container" sem que os elementos empurrem essa borda */
    text-decoration: none;
}

body{
    background-color: var(--preta);
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 100%;
    min-height: 100vh;
    font-size: 1.1vw;
}
h2{
    font-size: 3vw;
    font-family: 'Times New Roman', Times, serif;
}
.container{
    display: flex;
}


/* FORMATANDO HEADER */
header{
    height: 4.5vw;
    background-color: rgb(60, 60, 60);
}

.principal{
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 0% 5vw;
}
.navMenu{
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-right: 1vw;
    color: var(--vermelho);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.principal nav a{
    color: white;
    margin: 0% 0.3rem;
    transition: 300ms;
}
.principal nav a:hover{
    color: rgb(151, 151, 151);
}

.principal .navLogin a{
    color: white;
    margin: 0% 0.5rem;
}
.principal .navLogin a:nth-child(3){
    margin-right: 0;
}
.principal .navLogin a:nth-child(4){
    margin-left: 0;
}
.principal .navLogin a:hover{
    color: rgb(151, 151, 151);
}

/* ESTRUTURA PRINCIPAL DO HEADER CONCLUÍDA */


main .fundoPrincipal{
    height: 40vw;
    background: linear-gradient(rgba(0, 0, 0, 0.100),rgba(0, 0, 0, 0.100) 100%), url(/img/eONx2NqeLqexziFcZeyRXY0A3Is.jpg);
    background-size: cover; /* ESPECIFICAR O TAMANHO DA IMAGEM NO FUNDO*/

}
main .fundoPrincipal{
    align-items: center;
}
main .informacaoPrincipal{
    height: 50%;
    flex-direction: column;
    width: 45vw;
    margin: 5vw;
    align-items: flex-start;
    justify-content: space-around;
}
main h2{
    font-size: 3.5vw;
}

main p{
    font-size: 1.2vw;
}
main .botoes button{
    padding: 0.2rem 0.5rem ;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1vw;
    transition: 500ms;
    
}
main .botoes button:nth-child(1){
    color: #141414;
    background-color: white;
}
main .botoes button:nth-child(2){   /*ACESSAR CHILD NTH-CHIL(n) */
    margin-left: 0.6rem;
    color: rgb(0, 0, 0);
    background-color: rgba(152, 152, 152, 0.8);
}
main .botoes button i{
    margin-right: 0.2rem;
}

main .botoes button:hover{
    color: white;
    background-color: #141414;
}

.box-filme{
    margin: 0.2vw;
}